@model SOLOS_Group_Capstone.Models.EmployerDeveloperResume

@{
    ViewData["Title"] = "Index";
}


<h1>Account</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Developers.FirstName) <!--Dot notation to access each object in the class, then the objects properties --- N.E.T. -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developers.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume.Languages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume.Education_Certificates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume.Projects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume.Web_Portfolio)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--Remove foreach loop due to not needing to display multiple developers on the developer home page --- N.E.T.-->
        <tr>
            <td>
                @Html.DisplayFor(model => model.Developers.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Developers.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Resume.Languages)
            </td>
            <td>
                @Html.DisplayFor(model => model.Resume.Education_Certificates)
            </td>
            <td>
                @Html.DisplayFor(model => model.Resume.Projects)
            </td>
            <td>
                @Html.DisplayFor(model => model.Resume.Web_Portfolio)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@Model.Developers.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Developers.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Developers.Id">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<div id="page">
    <h3>Recommended Jobs For @Model.Developers.FirstName</h3>
    <section>
        <div>
        <div id="JobList"></div>
        <div id="Description"></div>
        </div>
    </section>
</div>