@model IEnumerable<SOLOS_Group_Capstone.Models.Resume>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<<<<<<< HEAD
<div>
    <h4>Your Account Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookMarkedJobListing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookMarkedJobListing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pending_applications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pending_applications)
        </dd>

    </dl>
</div>
        <iframe src="@Model.url" title="W3Schools Free Online Web Tutorials"></iframe>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
=======
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dev_specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Languages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education_Certificates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Web_Portfolio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume_Copy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dev_specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Languages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education_Certificates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Web_Portfolio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resume_Copy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
>>>>>>> 45d05fc192d92fa140f8cce2164e053b47b86812
