@model SOLOS_Group_Capstone.Models.EmployerDeveloperResume

@{
    ViewData["Title"] = "Index";
}
<head>

</head>
<body>

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Developers.FirstName) <!--Dot notation to access each object in the class, then the objects properties --- N.E.T. -->
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Developers.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resume.Languages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resume.Education_Certificates)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resume.Projects)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resume.Web_Portfolio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resume.Resume_Copy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!--Remove foreach loop due to not needing to display multiple developers on the developer home page --- N.E.T.-->
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Developers.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Developers.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Resume.Languages)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Resume.Education_Certificates)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Resume.Projects)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Resume.Web_Portfolio)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Resume.Resume_Copy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Developers.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.Developers.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Developers.Id">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="page">
        <h1>Featured Jobs</h1>
        <section>
            <table class="positionlist">
                <tbody>

                    <tr class="job">
                        <td class="title">
                            <h4><a href="https://jobs.github.com/positions/60a48d98-fc07-4e36-b8ab-cf6778e527ca">Senior Frontend-Entwickler (w/m/x)</a></h4>
                            <p class="source">
                                <a class="company" href="https://jobs.github.com/companies/bitgrip-gmbh">BITGRIP GmbH</a>
                                –
                                <strong class="fulltime">Full Time</strong>
                            </p>
                        </td>

                        <td class="meta">
                            <span class="location">Berlin</span>
                            <span class="when relatize relatized">2 days ago</span>
                        </td>
                    </tr>
                    <tr class="job">
                        <td class="title">
                            <h4><a href="https://jobs.github.com/positions/df83daab-f99d-478b-9070-75222c8043bb">Backend Developer (m/f/x)</a></h4>
                            <p class="source">
                                <a class="company" href="https://jobs.github.com/companies/gbs-german-bionic-systems-gmbh">GBS German Bionic Systems GmbH</a>
                                –
                                <strong class="fulltime">Full Time</strong>
                            </p>
                        </td>

                        <td class="meta">
                            <span class="location">Augsburg</span>
                            <span class="when relatize relatized">2 days ago</span>
                        </td>
                    </tr>


                    <tr>
                        <td class="title more-link" colspan="2">
                            <h4><a href="/positions">More Awesome Jobs →</a></h4>
                        </td>
                    </tr>

                </tbody>
            </table>
        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="https://unpkg.com/@@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>